snippet meta "Markdown metadata front matter"
---
title: $1
tags: markdown, $2
notebook: ${3:Inbox}
---
# $1

$0
endsnippet

snippet nfd "Note for day"
---
title: `!v strftime("%Y-%m-%d")`
tags: markdown
notebook: Paper
---
# `!v strftime("%Y-%m-%d")`

## Standup

$0

## General
endsnippet
